#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
.container-primary {
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.container-secondary {
    width: 100%;
    height: 75%;
    display: flex;
}

.wsidebar {
    scrollbar-width: thin;
}

.map-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding: 12px 24px;
}

.table-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
}

.table {
    display: flex;
    //float: left;
    width: 100%;
    flex-direction: column;
    //align-items: center;
}

.table-entries {
    overflow-y: scroll;
}

.table-header {
    width: calc(100% - 56px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 32px;
}

.spreadsheet-header-section {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 12px;
}

.table-header-button {
    padding: 0;
    margin-left: 36px;
}

.table-header-button-disabled{
    padding: 0;
    margin-left: 12px;
    cursor: default;
}

.table-header-buttons {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.table-entry-buttons {
    padding: 0;
    margin-left: 18px;
    margin-right: 18px;
}

.table-entry {
    //padding: 12px 24px;
    //padding: 12px 0;
}

.button-group {
    height: 100%;
    display: flex;
    align-items: center;
}

.modal-input {
    width: 100%;
}

.modal-header {
    height: 50px;
    width: 550px;
    padding-top: 3%;
    padding-bottom: 3%;
    float: left;
}

.modal-x {
    height: 50px;
    width: 50px;
    float: left;
}

.modal-input-field {
    height: 30px;
    flex-basis: auto;
    margin-left: 5px;
    float: left;
}

.modal-input-label {
    margin-left: 175px;
    padding-top: 12px;
    float: left;
}

.login-modal {
    height: 30%;
    width: 700px;
    display: block;
    z-index: 1;
}

.login-modal-wrapper {
    height: 100%;
}

.signup-modal {
    width: 600px;
    display: block;
    z-index: 1;
}

.modal-col-gap{
    column-gap: 0px;
}

.modal-button {
    justify-content: space-evenly;
    margin-left: 10px;
    float: left;
    width: 50px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.modal-spacer {
    height: 50px;
}

.main-login-modal {
    padding: 24px 24px 0px 24px;
}

.modal-error {
    height: 24px;
    align-items: center;
    display: flex;
}

.delete-modal {
    width: fit-content;
}

.col-spacer {
    width: 24px;
    display: inline-block;
}

.map-edit, .table-input, .table-select {
    width: 100%;
}

.map-edit-input {
    padding: 23px 24px 24px 24px !important;
}

.table-input, .table-select {
    height: 100%;
    display: flex;
    align-items: center;
}

.table-input-class {
    padding-left: 0px !important;
    padding-right: 0px !important;
    //font-size: 1.125rem;
}

.welcome-title {
    
}

.bottom-text {
    padding-bottom: 25%;
}

.mapSelect-redbar {
    height: 5px;
    width: 1500px;
    margin-left: 10%;
    margin-right: 10%;
}

.mapSelect-blackbar {
    height: 60px;
    width: 1500px;
    margin-left: 10%;
    margin-right: 10%;
}

.mapSelect-spacing {
    height: 100px;
}

.mapSelectionBox {
    float: left;
    height: 750px;
    width: 750px;
    margin-left: 10%;
}

.globeBox {
    float: left;
    height: 750px;
    width: 750px;
    margin-right: 10%;
    position: relative;
}

.createNewMap-button {
    height: 60px;
    width: 750px;
    position: absolute;
    bottom: 0;
}

.mapSelect-button-header {
    margin-left: 10%;
    margin-right: 10%;
}

/*
The following CSS is for icons
*/

.addRegion {
    margin-top: 5.5%;
}

.spreadsheetHeaderIcon {
    margin-left: 10px;
}
